body{
    background-color: black;
}
.text{
    color: rgb(245, 245, 245);
    text-align: center;
    margin-top: 50px;
    }
img{
    height: 500px;
    display: inline-block;
    float: left;
    margin-left: 200px;
    margin-right: 40px;
    
    }
#flex{
    display: flex;
    gap: 200px;
    margin-left: 25%;
    color: rgb(255, 255, 255);
    flex-direction: row;
     }
#two{
    width: 1200px;
    font-family: 'Orbitron', sans-serif;
     }
h2{
    font-size: medium;
}
H1{
    font-size: 50px;
}
.bar{
    color: skyblue;
    margin-bottom: 60px;
}